@model IEnumerable<Rentor.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2>Movies</h2>
    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Details", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                    <td style="width: 35px">
                        @using (Html.BeginForm("Edit", "Movies", new { id = movie.Id }))
                        {
                            <button type="submit" class="btn btn-default btn-sm">
                                Edit Movie
                            </button>
                        }
                    </td>
                    
                    <td style="width: 35px">
                       
                        <button data-movie-id="@movie.Id" type="submit" class="btn btn-danger btn-sm js-delete">
                            Delete Movie
                        </button>

                    </td>
                </tr>
            }*@
        </tbody>
    </table>


@using (Html.BeginForm("New", "Movies"))
{
    <button type="submit" class="btn btn-primary btn-lg">
        Add Movie
    </button>
}

@section scripts
{
    <script>

        $(document).ready(function() {

            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "name",
                        render: function(data, type, movie) {
                            return "<a href='/movies/details/" + movie.id + "'>" + data + "</a>";
                        }
                    },

                    {
                        data: "genre.name"
                    },

                    {
                        data: "id",
                        render: function(data) {
                            return "<a href='/movies/edit/" + data +"' class='btn btn-default btn-sm'> Edit </a>";
                        }
                    },

                    {
                        data: "id",
                        render: function (data) {
                            return "<button data-movie-id='" + data + "' class='btn btn-danger btn-sm js-delete'>Delete</button>";
                        }
                    }
                ]
            });


            $("#movies").on("click", ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Are You Sure?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-movie-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }

                        });
                });
        });


           
    </script>
}

